@model WorldKitchen.Models.BigViewModel
@{
    ViewData["Title"] = "Country and Dishes Details";
    Layout = "/Views/Shared/_LayoutCountry.cshtml";
}
@if (Model.CountryTable != null)
{
            @foreach (var itemC in Model.CountryTable)
            {







 <!-- Country Section -->
        <section class="country-section">
            <img src="@itemC.Background" alt="photo emblématique de la France">
            <h1>@itemC.Country</h1>
            <div class="country-explication">
              <div class="country-explication-content">
                <div class="country-explication-img">
                    <img src="@itemC.Flag" alt="drapeau de la France">
                    <img src="@itemC.Map" alt="localisation de la france sur la carte du monde">
                </div>
                <div class="country-explication-txt">
                    <p> @itemC.Description                </div>
            </div>
            </div>
        </section>
            }
}

@if (Model.DishiesTable != null)
{
<!-- Traditional Dishes Section -->
        <div class="traditional-dishies">
            <h1>Traditional Dishes</h1>
            <div class="recipe-cards-container">
            @foreach (var itemD in Model.DishiesTable)
            {

        
                <!-- Recipe Card 1 -->
                <div class="recipe-card">
                    <img src="friand_aux_saucisses.png" alt="Friands au saucisses" class="recipe-image">
                    <div class="recipe-info">
                        <div class="recipe-details">
                            <h3>@itemD.Name</h3>
                            <p> Friands au saucisses</p>
                        </div>
                        <div class="recipe-time">
                            <span class="timer-icon">&#9201;</span>
                            <span class="time-text">20 min</span>
                        </div>
                    </div>
                </div>


            }
   </div>
        </div>

}
<style>
.mb-3 {
  margin-bottom: 0px !important;
}
</style>
